{
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["**/*.js"],
  "rules": {
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["block", "block-like", "return", "throw"]
      },
      {
        "blankLine": "always",
        "prev": ["block", "block-like"],
        "next": "*"
      }
    ],
    "linebreak-style": ["error", "windows"],
    "no-use-before-define": ["error", { "functions": false, "variables": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"}],
    "max-len": ["error", { "code": 150 }],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "lines-between-class-members" : "off" , 
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/space-infix-ops": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "eol-last": "off",
    "import/no-cycle": "off",
    "import/newline-after-import": "off",
    "space-before-blocks": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-trailing-spaces": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/quotes": "off",
    "prefer-const": "off",
    "padded-blocks": "off"
  }
}
